BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 8
BreakBeforeBraces: Mozilla
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 80
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
